#banner{
  margin-top: 0px;
  position: relative;
  width:auto;
}
#banner img{
  width: 100%;
  height: 100px;
}
#banner .contenedor{
  position: absolute;
  top:50%;
  left: 50%;
/*  transform: translateX(-50%) translateY(-50%);*/
  color: #fff;
}

@media(min-width:480px){
  #banner{
    height: auto;
    overflow: hidden;
  }
  #banner img{
    width: 100%;
    height:auto;
  }

}
@media(min-width:768px){
  #banner{
    height: auto;
    overflow: hidden;
  }
}

@media(min-width:1024px){
 #banner{
 height:180px;
 overflow:hidden;
}
}
