.collapsible {
  display: block;
  margin-bottom: 1rem;
}
.collapsible input {
  position: absolute;
  left: -9999px;
}
.collapsible input:focus ~ .collapser {
  border-color: grey;
}
.collapsible .collapser {
  cursor: pointer;
  border: 1px transparent dotted;
}
.collapsible .arrow {
  float: right;
  margin-left: 0.5em;
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.25s ease-out;
}
.collapsible input:checked ~ .arrow,
.collapsible input:checked ~ .collapser .arrow {
  transform: rotate(270deg);
}
.collapsible .collapsed {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity 0.25s, margin 0.5s 0.25s, font-size 0.5s 0.25s, padding 0.5s 0.25s;
}
.collapsible input:checked ~ .collapsed {
  font-size: 16px;
  opacity: 1;
  height: auto;
  padding: 5px 0;
  /* grow, then fade in */
  transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
}
/*ddd*/
*{
  font-family: comfortaa;
}

div.contenedor{
width: 100%;
text-align: center;
}
#scro {
	overflow:scroll;
	height:100%;
	max-width:95%;
}
.scro2{
	overflow:scroll;
	height:30%;
	max-width:100%;
}
.scro3{
	overflow:scroll;
	height:80%;
	max-width:100%;
}
#myDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.myDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.txt{
  color: white;
  width: 100%;
  max-width: 265px;
  background: rgba(51,51,51,.3);
  height: auto;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 12px;
  margin-bottom:5px;

}
.txt{
  color: white;
  width: 100%;
  background: rgba(51,51,51,.3);
  height: auto;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 12px;
  margin-left:5px;
  margin-bottom:5px;


}
.datetable{
	width:120px;

}
.texttable{
	width:60px;
	
}

//#TT{
 // width: 256px;
  //height: 25px;
  //margin: 1px;
//}
.TT{
  width: 256px;
  height: 25px;
  margin: 1px;
  margin-bottom:5px;
}
.TTT{
  width: 100px;
  height: 25px;
  margin: 1px;
}

#ok{
  margin-top: 10px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 15px;
  background:#88d4f7;
  width: 100px;
  height: 40px;
  transition: all .1s;
}


#ok:hover{
  background: rgb(188, 204, 216);
}
.ok{
  margin-top: 3px;
  margin-left:3px;
  margin-bottom:3px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 15px;
 
  width: 100px;
  height: 40px;
  transition: all .1s;
  text-align:right;
}
.expxlsx{
 background: #8497a0 url(../img/xlsx.png)no-repeat left center;
border-radius:10px;	
}
.expxls{
 background: #8497a0 url(../img/xls.png)no-repeat left center;
border-radius:10px;
}
.expcsv{
 background: #8497a0 url(../img/csv.png)no-repeat left center;
border-radius:10px;	
}
.exptxt{
 background: #8497a0 url(../img/txt1.png)no-repeat left center;
border-radius:10px;	
}
.ok:hover{
  background: rgb(188, 204, 216);
}
.thumb{
  width: 200px;
  height: 200px;
}
.thumb2{
    width:100px;
    height:100px;
    margin-bottom:10px;
    margin-top:0px;
}
.thumbfiles{
    width:35px;
    height:auto;
    margin-bottom:10px;
    margin-top:0px;
}
.imag{
	display: none; 
}
.imag2{
	display: block; 
}
.txt1{
  width: 255px;
  height: 265px;
  border:dashed 1px white;
}

.fondotxt{
  color:rgb(222, 236, 236);;
}
hr{
  border: solid 1px #101010;
  width:95%;
}
#titulo{
  padding: 0px;
  margin: 0px;
}
h3,h4{
  padding: 0px;
  margin: 0px;
}
.muestras{
  border: dashed 2px white;
  width: 275px;
}
.current-row{
	background-color:#B24926;color:#000;
	    }
.current-col{
	background-color:#1b1b1b;color:#000;
	    }
.tbl-qa{
	width: 100%;
	font-size:0.9em;
	background-color: #f5f5f5;
	}

.tbl-qa th.table-header {
	padding: 5px;
	text-align: left;
	padding:10px;
	color:#000;
	background-color:#ddd;
			}
.tbl-qa th.table-header2 {
	padding: 5px;
	text-align: left;
	padding:10px;
	color:#000;
	background-color:#7d7b7999;
			}
.tbl-qa .table-row td {
	padding:10px;
	background-color: #96b6ce;
	color:#000;
		       }

 .table-row2 td {
	padding:15px;
	background-color: #9adbcf;
	color:#000;
		       }
.tbl-qa tr:nth-child(odd) td{
background-color:#6d9ab1;
}

.imgload{
margin-top:5px;
width:40px;
heigth:60px;
display:none;
}

.tablebody{
height:250px;
display:block;
overflow:scroll;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
  //background: url("../img/images2.jpeg");

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   //background: rgba(132, 197, 237,.6);
    background: url("../img/images2.jpeg");

	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
}
.modal-contentcita {
   /*background: rgba(132, 197, 237,.6);*/
    background: url("../img/images2.jpeg");
	
	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content2 {
   background: rgba(204, 232, 249, 0.6);
	margin: .5% auto; /* 15% from the top and centered */
    padding: 1px;
    border-radius: 15px;
    border: 1px solid #888;
    width: 99%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #f50a0a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f30505;
    text-decoration: none;
    cursor: pointer;
}


.left{
	width: 38%; 
	float:left; 
	/*background-color: #92a8d1;*/
	overflow-x: scroll;
	overflow-y: scroll;
}

.right{
	width: 60%; 
	float:right;
	/*background-color: coral;*/
	overflow-x: scroll;
	overflow-y: scroll;
	display:none;
}
/*estilo del punto de venta*/ 


.modalco {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
  //background: url("../img/images2.jpeg");

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentco {
   //backgroun: rgba(132, 197, 237,.6);
    background: url("../img/images2.jpeg");

	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width:1050px; /* Could be more or less, depending on screen size */
}
.modal-contentcoco {
   background: rgba(204, 232, 249, 0.6);
	margin: .5% auto; /* 15% from the top and centered */
    padding: 1px;
    border: 1px solid #888;
    width: 1040px; /* Could be more or less, depending on screen size */
}


.cornerrigth{
    position:absolute;
    top:1%;
    left:1%;
    width:fit-content;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.cornerrigth2{
    position:absolute;
    top:10%;
    left:1%;
    width:fit-content;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
 
}
.reportes{
    position:absolute;
    top:20%;
    left:1%;
    width:30%;
    height:79%;
   overflow:scroll;
    background-color:aliceblue;
}
.find{
    position:absolute;
    top:91%;
    left:32%;
    width:67%;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;

}
#scro2{
	overflow:hidden;
	position:absolute;
    	top:20%;
   	left:32%;
   	right:2%;
   	width:67%;
   	height:70%;
	max-width:1350px;
}
#tabla2{
	overflow:scroll;
	position:absolute;
    	top:8.2%;
   	width:100%;
   	height:90%;
	max-width:1350px;
}
.okfind{
  margin-top: 5px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 18px;
  background: rgba(0, 100, 0, 0.4);
  width: 98%;
  height: 28px;
  transition: all .1s;
  text-align:right;
  z-index: 1;
  position:relative;
}

div.txtfind{
  color: white;
  width: 100%;
  background: rgba(51,51,51,.3);
  height: 45px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 20px;
  text-align:center;
}
.ok2{
  margin-top: 5px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 18px;
  background: rgba(0, 100, 0, 0.4);
  width: 390px;
  height: 28px;
  transition: all .1s;
  text-align:right;
}

div.txt2{
  color: white;
  width: 401px;
  background: rgba(51,51,51,.3);
  height: 45px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 20px;
  text-align:center;
}
div.txttotal{
  color: white;
  width: 20%;
  background: rgba(51,51,51,.3);
  height: 45px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 20px;
  text-align:center;
}
.ptoimg{
margin-top:5px;
width:40px;
heigth:45px;
}
.ptodivimg{
 color: white;
  width: 40px;
  background: rgba(51,51,51,.3);
  height: 45px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 20px;
  text-align:center;
}
.tbl-qa2{
	width: 100%;	
	font-size:0.9em;
	border: none;
	background-color: #f5f5f5;
	border-collapse: collapse;
	}
.tbl-qa2 tr.he{
	max-width:100%;
	border: none;
			}
.tbl-qa2 th.table-header21 {
	width:10%;
	max-width:10%;
	text-align: center;
	padding:10px;
	color:#000;
	background-color:#ddd;
	border: none;
			}
.tbl-qa2 th.table-header22 {
	width:37%
	text-align: center;
	padding:10px;
	color:#000;
	background-color:#ddd;
	border: none;
			}

/*.tbl-qa2 tbody,  .tbl-qa2 thead tr { display: block; }
.tbl-qa2 tbody {
    height: 500px;
    width:100%
    overflow-y: auto;
    overflow-x: scroll;
}*/
.tbl-qa3{
	width: 100%;	
	font-size:0.9em;
	background-color: #f5f5f5;
	}
.tbl-qa3 td.table-header321 {
	width:10%;
	max-width:10%;
	font-size:10px;
	height:auto;
	text-align: center;
	padding:10px;
	color:#000;
	background-color:#ddd;
			}
.tbl-qa3 td.table-header322 {
	width:37%
	max-width:37%;
	text-align: center;
	padding:10px;
	color:#000;
	background-color:#ddd;
			}
.tbl-qa3 tr:nth-child(odd) td{
background-color:coral;
}


.tbl-qa3 tr:nth-child(even) td{
	

}
.total{
    position:relative;
    top:10%;
    left:50%;
    width:45%;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    font-size:40px;
}
.pago1{
    position:relative;
    top:12%;
    left:1%;
    width:fit-content;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}
.pago2{
    position:relative;
    top:25%;
    left:1%;
    width:fit-content;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}
.pago3{
    position:relative;
    top:37%;
    left:1%;
    width:fit-content;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
 
}
.okpagos{
  margin-top: 5px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 18px;
  background: rgba(0, 100, 0, 0.4);
  width: 97%;
  height: 28px;
  transition: all .1s;
  text-align:right;
}
.txtpagos{
  color: white;
  width: 401px;
  background: rgba(51,51,51,.3);
  height: 45px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 30px;
  text-align:center;
}
.okpagos2{
  margin-top: 5px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 18px;
  background: rgba(0, 100, 0, 0.4);
  width: 95%;
  height: 28px;
  transition: all .1s;
  text-align:right;
}
.txtpagos2{
  color: white;
  width: 180px;
  background: rgba(51,51,51,.3);
  height: 45px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 30px;
  text-align:center;
}
.cambio{
 
    position:relative;
    top:50%;
    left:1%;
    width:fit-content;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
 
}
.cancelar{
    position:relative;
    top:60%;
    left:78.5%;
    width:18%;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
 
}
.cobrar{
    position:relative;
    top:60%;
    left:78.5%;
    width:18%;
    height:8%;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
 
}

.tbl-qap{
	width: 100%;
	font-size:0.9em;
	background-color: #f5f5f5;
	}

.tbl-qap th.table-headerp {
	padding: 5px;
	text-align: left;
	padding:10px;
	color:#000;
	background-color:#ddd;
			}

.tbl-qap tr:nth-child(odd) td{
background-color:coral;
}


.tbl-qap tr:nth-child(even) td{
	

}