div.contenedor{
width: 100%;
text-align: center;
}
#myDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.txt{
  color: white;
  width: 100%;
  max-width: 265px;
  background: gray;
  height: 60px;
  border-bottom: solid 2px orangered;
  margin: 1px;
}
#TT{
  width: 256px;
  height: 25px;
  margin: 1px;
}
#ok{
  cursor: pointer;
  border:solid 2px gray;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  background: rgba(0, 200, 0, 0.5);
  width: 100px;
  height: 100px;
  transition: all 2s;
}
#ok:hover{
  background: rgba(200, 0, 0, 0.5);
}
.thumb{
  width: 200px;
  height: 200px;
}
.txt1{
  width: 265px;
  height: 255px;
  background: mediumseagreen;
}
form{
background:rgba(102,102,102,.5);
}